[class*="col-"] {
    float: left;
    /* padding-left: 15px; */
    /* border: 1px solid black; */
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


*::-webkit-input-placeholder {
    color: #888888;
}
*:-moz-placeholder {
    color: #eeeeee;
}
*::-moz-placeholder {
    color: #eeeeee;
}
*:-ms-input-placeholder {
    color: #eeeeee;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, arial, sans-serif;
}

.col-12 {
    background-image: url(../images/mochaGrunge.png);
    border-radius: 5px;
}


body {
    background-image: url(../images/escheresque_ste.png);
    display: flex;
	flex-flow: column;
}

h1 {
    text-shadow: 2px 2px 10px #00ff00;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

header, nav, section, footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    padding-top: 20px;
    padding-bottom: 200px;
}

footer {
    position: fixed;
    bottom: 0;
}

select, input[type="text"], input[type="date"], input[type="password"] {
    border: 1px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    margin-left: 10px;
    border-radius: 3px;
    width: 250px;
    background: #87CEFA;
}

input[type="text"]:hover, input[type="date"]:hover, input[type="password"]:hover {
    box-shadow: 2px 2px 1px 1px rgba(0,0,100,0.50);
}

input[type="submit"] {
    border: 1px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 2px;
    text-align: center;
    width: 100px;
    background: #80ff80;
}

.register input[type="submit"] {
    border: 1px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 2px;
    width: 250px;
    background: #80ff80;
}

input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,175,0,0.24), 0 8px 25px 0 rgba(0,175,0,0.19);
    cursor: pointer;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 3px;
    border: 1px solid black;
}

input[type='checkbox']:checked {
    background: #87CEFA;
}


.logo {
    height: 100px;
    padding-left: 5px;
}

.title {
    margin-top: 10px;
    padding-left: 5%;
}

.slogan {
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 5px #00ff00;
}

.login {
    margin-top: 20px;
    padding-left: 5%; 
}

.registration {
    background-color: #87CEFA; 
    border: 1px solid;
    border-radius: 5px;
    color: black;
    padding: 20px 25px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.registration:hover, #nov_vnos:hover, #pregled:hover, #vizualizacija:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,100,0.24), 0 8px 25px 0 rgba(0,0,100,0.19);
    cursor: pointer;
}

.nav_buttons {
    text-align: center;
}

.sources, .description {
    padding-left: 15px;
    padding-right: 15px;
}

.main_picture {
    text-align: center;
}

.minus_button {
    background: #ff8080 !important;
}

.minus_button:hover {
    box-shadow: 0 12px 16px 0 rgba(175,0,0,0.24), 0 8px 25px 0 rgba(175,0,0,0.19) !important;
    cursor: pointer;
}

.dropdown {
    text-align: center;
    margin-top: 10px;
}

.input, .new_goals, .add_to_goal, .not_goal_results, .result_set, .goal_results, .izdatki, .prejemki {
    margin-top: 25px;
    padding-left: 15px;
}

.password, .captcha, .register {
    margin-top: 40px;
}


#author {
    text-align: center;
    font-weight: bold;
}

#nov_vnos, #pregled, #vizualizacija {
    margin: 15px;
    background-color: #87CEFA; 
    border: 1px solid;
    border-radius: 5px;
    color: black;
    padding: 20px 120px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#registration_form {
    text-align: center;
}
